webdriver-manager==4.0.2
selenium==4.37.0
python-dotenv
pytest
playwright==1.55.0

pytest-xdist==3.8.0

# Testing
pytest-asyncio==0.21.1
httpx==0.25.2
allure-pytest==2.15.3
Pillow>=11.1.0

# dev
black== 25.9.0
flake8==7.3.0
isort==7.0.0
pre-commit==4.3.0
